{% extends "base.html" %}

{% block content %}
    {% if current_user.is_anonymous %}
    <h2 style="padding: 10px 100px 10px 100px">Welcome! Sign in to play!</h2>
    {% else %}
    <h2 style="padding: 10px 100px 10px 100px">Hello, {{ current_user.username }}!</h2>
    {% endif %}
    <h3 style="padding: 10px 100px 10px 100px">
        Welcome to SafeBet, a risk-free alternative to standard sports betting for those
        looking for extra practice or those at risk for gambling addictions.
    </h3>
    <h4 style="padding: 10px 100px 10px 100px">
        If you or a loved one has a gambling problem, call the National Problem Gambling
        Helpling at 1-800-522-4700.
    </h4>
{% endblock %}
